// todoForm.scss

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  .form__input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;

    &:focus {
      outline: none;
      border-color: #3498db;
    }
  }
}
